body {
    background:#cacdd0
}

.navbar{
    background: #ffffff;
}

.content {
    background: #ffffff;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    
}
.content p{
    color:#000000;
}

.image{
    
    border-radius:10px 10px 0 0;
    opacity: 0.8;
}
.info:hover .image{
 opacity: 1;
}
.info:hover {
    border :5px solid rgba(244, 246, 249,0.5);
    border-radius: 13px;
}